img {
    display: block;
    margin: 10 auto;
    width: auto;
    height: 200px;
    padding: auto;
    max-width: 100%; /* para asegurarse de que la imagen no sea más ancha que el contenedor */
    position: absolute;
    top:50%;
}

ion-input {
    width: 100%;
    padding: 0px;
    border:solid 5px #10A19D;
    border-radius: 3px;
    border-radius: 5%;
    box-sizing: border-box;
    
     /* añadido para tener en cuenta el padding y el borde en el ancho del elemento */
  }

