img {
    display: block;
    margin: 10 auto;
    height: 200px;
    padding: auto;
    max-width: 80%; /* para asegurarse de que la imagen no sea más ancha que el contenedor */
    position: absolute;
    top:50%;
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: cover;
    opacity: 0.8;
    box-shadow: 0px 0px 15px 15px #a6aaa6;
    -webkit-box-shadow: 0px 0px 15px 15px #beccbe;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    margin-left: 37px;
}

ion-title {
    text-align: center;
  }
  ion-title {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para los labels y los inputs */
  ion-label {
    display: block;
    margin-bottom: 5px;
    border-radius: 5%;
  }
  
  ion-input {
    width: 90%;
    border:solid 5px #063ecb;
    border-radius: 10px;
    margin: 35px;
    margin-left:20px;
    height:50px;
    
     /* añadido para tener en cuenta el padding y el borde en el ancho del elemento */
  }
  
  /* Estilos para los botones */
  ion-button {
    display: block;
    margin: 10px auto;
    width: 80%;
    margin-top: 20px;
  }

