ion-title {
  text-align: center;
}
ion-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* Estilos para los labels y los inputs */
ion-label {
  display: block;
  margin-bottom: 5px;
  border-radius: 5%;
}

ion-input {
  width: 90%;
  border:solid 5px #063ecb;
  border-radius: 10px;
  margin: 35px;
  margin-left:20px;
  height:50px;
  
   /* añadido para tener en cuenta el padding y el borde en el ancho del elemento */
}

/* Estilos para los botones */
ion-button {
  display: block;
  margin: 10px auto;
  width: 80%;
  margin-top: 20px;
}

ion-card{
height: 350px;
}

h1{
text-align: center;
}


