<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!editing">
  <!-- Mostrar datos -->
  <ion-card>
    
    <img src="{{ img }}">
    <ion-card-header>
      <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ description }}</p>
      <p>Start Time: {{ startTime }}</p>
      <p>End Time: {{ endTime }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="danger" (click)="deleteDocumentByTitle(title)">Eliminar</ion-button>
  <ion-button (click)="startEditing()">Editar</ion-button>
</ion-content>

<ion-content *ngIf="editing">
  <ion-card>
    <img src="{{ newEvent.img }}">
    <ion-card-header>
      <ion-card-title>
        <ion-input type="text" placeholder="Título" [(ngModel)]="newEvent.title"></ion-input>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Descripción" [(ngModel)]="newEvent.description"></ion-textarea>
      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input type="text" placeholder="URL de la imagen" [(ngModel)]="newEvent.img"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="newEvent.startTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="newEvent.endTime"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="updateEvent()">Guardar cambios</ion-button>
  <ion-button (click)="cancelEditing()">Cancelar</ion-button>
</ion-content>
