/* Estilos para el contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



img {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 100%;
  max-width: 100%; /* para asegurarse de que la imagen no sea más ancha que el contenedor */
}

/* Estilos para el título en el header */
ion-title {
  text-align: center;
}
ion-title {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* Estilos para los labels y los inputs */
ion-label {
  display: block;
  margin-bottom: 5px;
  border-radius: 5%;
}

ion-input {
  width: 90%;
  border:solid 5px #063ecb;
  border-radius: 10px;
  margin: 5px;
  margin-left:20px;
  height:50px;
  
   /* añadido para tener en cuenta el padding y el borde en el ancho del elemento */
}

/* Estilos para los botones */
ion-button {
  display: block;
  margin: 10px auto;
  width: 80%;
}

/* Estilos para el botón de olvidar contraseña */
ion-button.Recuperar {
  display: block;
  margin: 10px auto;
  width: 80%;
  height:20px;
}
ion-input.usu{
  width:73%;
  margin: 5px;
  margin-left:40px;
  
}
