<img src="https://mateogutierrez.neocities.org/img/Fondoo.png"
alt="Imagen de encabezado">
<ion-card class="tm">

  <h1>Login</h1>
    <ion-content  padding class="container">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="Usuario" name="Usuario"></ion-input>
      </ion-item>
      <ion-item *ngIf="!correoRegex.test(Usuario) && Usuario !== ''">
        <ion-label color="danger" >Correo electrónico inválido</ion-label>
      </ion-item>
      <br/>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="Clave" name="Clave" id="password-field"></ion-input>
        <ion-icon slot="end" name="eye-off" id="password-icon" (click)="togglePassword()"></ion-icon>
      </ion-item>
      <ion-button (click)="validarCampos()">Ingresar</ion-button>
      <br/>
      <ion-button color="medium" (click)="Register()">Registrarme</ion-button>
      <br/>
      <ion-button class="Recuperar" color="danger" (click)="Password()" outline>Ups!....Olvide mi Contraseña :C</ion-button>
    </ion-content>
</ion-card>
