<img src="https://mateogutierrez.neocities.org/img/Fondoo.png" alt="Imagen de encabezado">
<ion-card class="tm">
  <h1>Iniciar Sesión</h1>
    <ion-content  padding class="container">
      <ion-input class="usu"[(ngModel)]="Usuario" placeholder="Correo Electronico"></ion-input>
      <br/>
      <ion-item>
        <ion-input id="password-field" type="password" [(ngModel)]="Clave" placeholder="Contraseña"></ion-input>
        <ion-icon slot="end" name="{{ hidePassword ? 'eye-off' : 'eye' }}" id="password-icon" (click)="togglePassword()"></ion-icon>
    </ion-item>
      <ion-button (click)="validarCampos()">Ingresar</ion-button>
      <br/>
      <ion-button color="medium" (click)="Register()">Registrarme</ion-button>
      <br/>
      <ion-button class="Recuperar" color="secondary" (click)="Password()" >Olvidaste tu Contraseña?  Recuperala</ion-button>
    </ion-content>
</ion-card>
